@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300);

.blue {
	background: #28abe3;
}

.green {
	background: #72bf48;
}

.red {
	background: #ff432e;
}

.light-red {
	background: #fb6648;
}

.light-orange {
	background: #fa6900;
}

.color {
	background: #0eceab;
}

.purple {
	background: #9b59b6;
}
